:root{
    --one-color-bg: rgb(50,120,246);
    --two-color-bg:rgb(41,50,78);
    --page-top-height: 30px;
    --header-top-height: 70px;
    --header-bottom-height: 30px;
    --main-text-color: whitesmoke;
    --line-space-color: rgb(243,243,243,0.5);
    
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--main-text-color);
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    max-width: 1424px;
    margin: auto;
}
a {
    text-decoration: none;
    color: unset;
}
ul{
    list-style-type: none;
}
input{
    outline: none;
}
.row-grid{
    display: grid;
    justify-content: space-between;
}
.row-flex{
    display: flex;
    justify-content: space-between;
}
/*page-top*/
.page-top{
    background-color: var(--one-color-bg);
}
.page-top i{
    margin-right: 6px;
}
.page-top .row-grid{
    justify-content: end;
    height: var(--page-top-height);
    align-items: center;
}
.page-top ul li :first-child{
    position: relative;
    padding-right: 12px;
    margin-right: 12px;
}
.page-top ul li :first-child::after{
    content: "";
    display: block;
    position: absolute;
    width:  2px;
    height: 70%;
    background-color: var(--line-space-color);
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
/*herder-top*/
header{
    background: var(--two-color-bg);
}
.herder-top .row-grid{
    height: var(--header-top-height);
    grid-template-columns: 20% 60% 20%;
    align-items: center;
}
.herder-top-search.row-grid{
   grid-template-columns: 80% 20%;
}
.herder-top-search input{
    height: 40px;
    padding-left: 12px;
}
.herder-top-search button{
    height: 40px;
    background-color: var(--one-color-bg);
    border: none;
    cursor: pointer;
}
.herder-top-search button i {
    margin-left: 6px;
}
.header-top-user-cart.row-flex{
    justify-content: flex-end;
}
.header-top-user-cart ul li:first-child{
    position: relative;
    padding-right: 12px;
    margin-right: 12px;
}
.header-top-user-cart ul li:first-child::after{
    content: "";
    display: block;
    position: absolute;
    width:  2px;
    height: 70%;
    background-color: var(--line-space-color);
    right: 0;
    top: 50%;
    transform:  translateY(50%);
}
.header-top-user-cart ul li :last-child span{
    padding: 6px;
    background-color: red;
}
.header-top-user-cart i{
    margin-right: 6px;
}
/*header-bottom*/
.header-bottom.row-grid{
    grid-template-columns: 20% 80%;
    height: var(--header-bottom-height);
    align-items: center;
}
.header-bottom-menubar{
    cursor: pointer;
}
.header-bottom-menubar span{
    margin:0 6px;
}
.header-bottom-menulist .row-flex{
     justify-content: flex-start;
}
.header-bottom-menulist ul li{
    padding: 6px 12px;
    position: relative;
}
.header-bottom-menulist ul li::after{
    content: "";
    display: block;
    position: absolute;
    width:  2px;
    height: 50%;
    background-color: var(--line-space-color);
    left: 0;
    top: 50%;
    transform:  translateY(50%);
}
.header-bottom-menulist ul li a{
    position: relative;
    font-weight: bold;
    font-size: small;
}
.header-bottom-menulist ul li a::after{
    content: "";
    display: block;
    position: absolute;
    width:  0;
    height: 2px;
    background-color: var(--line-space-color);
    bottom: -3px;
    transition: all 0.5s ease;
}
.header-bottom-menulist ul li:hover a::after{
    width: 100%;
}
